.cart-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.cart-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-item-wrapper {
    display: flex;
    flex-direction: row;
}

.cart-actions-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10px;
}

.cart-item-price {
    text-decoration: underline;
    margin-bottom: 5px;
}