.toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #1976D2;
    color: white;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}